.upload{
	cursor: pointer
}
.img-upload{
    display: none !important;
		opacity:0.3;
		width: 75px !important;
    height: 75px !important;
    line-height: 40px;
    border-radius: 20px;
}
.person {
    width: 80px !important;
    height: 80px !important;
    line-height: 40px;
    border-radius: 20px;
}
.upload:hover .person{
     display: none;
}
.upload:hover .img-upload{
    display: inline-block !important;
} 
