.loading-login{
    position: absolute;
    z-index: 9999;
    margin-top: 6%;
    height: 0%;
    padding: 15%;
}
.loading-login-none{
    display: none;
    position: absolute;
    z-index: 9999;
    margin-top: 6%;
    height: 0%;
    padding: 15%;
}